@use '@/shared/styles/variables' as *;

.logo {
  color: $primary-color;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}
