@use '../../variables.scss' as *;

.burger-button {
  position: relative;
  width: 24px;
  height: 18px;
  cursor: pointer;

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    transition:
      transform 0.3s,
      opacity 0.3s;
  }

  &__line:nth-child(1) {
    top: 0;
  }

  &__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  &__line:nth-child(3) {
    bottom: 0;
  }

  &--black {
    & .burger-button__line {
      background-color: $primary-black-color;
    }
  }

  &--mobile {
    display: none;
    z-index: 500;

    &.burger-button--active {
      .burger-button__line {
        background-color: $light-gray-color;
      }
    }

    @media (max-width: 550px) {
      display: flex;
    }
  }

  &--active {
    .burger-button__line:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    .burger-button__line:nth-child(2) {
      opacity: 0;
    }

    .burger-button__line:nth-child(3) {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
