.qHgZHa_heroContent {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  display: flex;
}

.qHgZHa_promoButtonContainer {
  margin-top: 60px;
  padding: 0 64px;
}

@media (width <= 650px) {
  .qHgZHa_promoButtonContainer {
    padding: 0 32px;
  }
}

@media (width <= 550px) {
  .qHgZHa_promoButtonContainer {
    width: 100%;
    margin-top: 32px;
    padding: 0;
  }
}

.qHgZHa_bookLink {
  text-decoration: none;
}

.qHgZHa_promoContainer {
  flex-direction: column;
  margin-top: auto;
  display: flex;
}

@media (width <= 550px) {
  .qHgZHa_promoContainer {
    margin-top: 10%;
  }
}

.qHgZHa_promo {
  flex-direction: column;
  display: flex;
}

.qHgZHa_title {
  color: #0ec261;
  font-size: clamp(32px, 6vw, 70px);
  font-weight: 700;
  line-height: .93;
}

.qHgZHa_titleBlack {
  color: #121212;
}

.qHgZHa_subtitle {
  color: #999;
  margin-top: 34px;
  font-size: clamp(18px, 3.5vw, 26px);
  font-weight: 300;
  line-height: 1;
}

@media (width <= 550px) {
  .qHgZHa_subtitle {
    margin-top: 16px;
  }
}

.qHgZHa_footer {
  margin-top: auto;
}

@media (width <= 550px) {
  .qHgZHa_footer {
    background-color: #121212;
  }
}

.qHgZHa_footerInner {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

@media (width <= 550px) {
  .qHgZHa_footerInner {
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.qHgZHa_copyright {
  color: #999;
  font-size: 13px;
}

@media (width <= 550px) {
  .qHgZHa_copyright {
    color: #eee;
    text-align: right;
  }
}

.qHgZHa_phone {
  color: #121212;
  font-size: 13px;
  text-decoration: none;
  transition: color .2s, filter .2s;
}

@media (width >= 551px) {
  .qHgZHa_phone:hover {
    color: #0ec261;
  }
}

.qHgZHa_phone:active {
  filter: brightness(.8);
}

@media (width <= 550px) {
  .qHgZHa_phone {
    color: #0ec261;
    order: -1;
  }
}

.C4nyLW_homePageContent {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

@media (width <= 1024px) {
  .C4nyLW_homePageContent {
    grid-template-columns: 1fr;
  }
}

.HoRqaa_button {
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: 0;
  border-radius: 10px;
  width: 100%;
  padding: 15px 24px;
  font-size: 18px;
  font-weight: 500;
  transition: filter .2s, transform .2s;
  display: block;
}

.HoRqaa_button:hover {
  filter: brightness(.9);
}

.HoRqaa_button:active {
  filter: brightness(.8);
}

.HoRqaa_button.HoRqaa_disabled {
  cursor: default;
  color: #fff;
  background: #eee;
}

.HoRqaa_tonePrimary {
  background-image: linear-gradient(to right, #0ec261, #039f67);
}

.HoRqaa_toneDarkGreen {
  background-image: linear-gradient(to right, #13493f, #0c7b1b);
}

.HoRqaa_toneCyan {
  background-image: linear-gradient(to right, #132949, #0c7b67);
}

.HoRqaa_toneDarkRed {
  background-image: linear-gradient(to right, #493013, #7b0c3b);
}

.HoRqaa_tonePurple {
  background-image: linear-gradient(to right, #281349, #720c7b);
}

.HoRqaa_sizeHero {
  width: 250px;
}

.HoRqaa_sizeFull {
  width: 100%;
}

.HoRqaa_sizeSlider {
  border-radius: 6px;
  width: fit-content;
  min-width: 164px;
  margin-top: 32px;
  padding-inline: 34px;
  font-size: 18px;
}

@media (width <= 550px) {
  .HoRqaa_fullWidthOnMobile {
    width: 100%;
    display: block;
  }
}

.HoRqaa_squareOnMobile {
  border-radius: 0;
}

@media (width >= 551px) {
  .HoRqaa_squareOnMobile {
    border-radius: 10px;
  }
}

.Ip70_a_container {
  padding: 0 64px;
}

@media (width <= 650px) {
  .Ip70_a_container {
    padding: 0 32px;
  }
}

@media (width <= 550px) {
  .Ip70_a_container {
    padding: 0 16px;
  }
}

.wfJX8q_logo {
  color: #0ec261;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  transition: filter .2s;
}

.wfJX8q_logo:hover {
  filter: brightness(.9);
}

.wfJX8q_logo:active {
  filter: brightness(.8);
}

.Jc1tFa_waypoint {
  align-items: center;
  gap: 2px;
  text-decoration: none;
  transition: filter .2s;
  display: flex;
}

.Jc1tFa_waypoint:hover {
  filter: brightness(.9);
}

.Jc1tFa_waypoint:active {
  filter: brightness(.8);
}

@media (width <= 550px) {
  .Jc1tFa_waypoint {
    justify-content: flex-end;
    width: 100%;
  }
}

.Jc1tFa_icon {
  width: 18px;
  height: 20px;
}

.Jc1tFa_text {
  color: #999;
}

.ObOPJq_header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

@media (width <= 550px) {
  .ObOPJq_header {
    flex-wrap: wrap;
    row-gap: 8px;
  }
}

.jFHU3W_section {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

.jFHU3W_headerContainer {
  padding: 24px 0;
}

@media (width <= 550px) {
  .jFHU3W_headerContainer {
    padding: 16px 0 10px;
  }
}

.jFHU3W_content {
  flex-direction: column;
  flex: 1;
  min-height: 0;
  display: flex;
}
/*# sourceMappingURL=HomePage.016e518f.css.map */
