@use '../../variables.scss' as *;
@use '../../fonts.scss';

.logo {
  color: $primary-color;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  &--promo {
    line-height: 93%;
    font-size: clamp(32px, 6vw, 70px);
  }

  &--black {
    color: $primary-black-color;
  }
}
