@use '@/shared/styles/variables' as *;

.card {
  border: 1px solid $light-gray-color;
  background: #fff;
  min-height: 222px;
  max-height: 222px;
  padding: 18px 16px 12px;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-left: -1px;
}

.card:hover {
  border-color: $dark-gray-color;
  z-index: 1;
}

.selected {
  border-color: $primary-color;
  z-index: 1;
}

.selected:hover {
  border-color: $primary-color;
}

.name {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 6px;
  font-weight: 400;
}

.price {
  font-size: 14px;
  line-height: 1;
  color: $dark-gray-color;
}

.imageWrap {
  margin-top: auto;
  height: 110px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.image {
  max-width: 100%;
  max-height: 116px;
  object-fit: contain;
}
