@use '../../shared/styles/variables' as *;

.layout {
  min-height: 100vh;
  padding-left: 64px;
  display: flex;
  justify-content: center;
}

.layout > * {
  width: 100%;
  max-width: 1920px;
  background: #fff;
  min-height: 100vh;
}

@media (max-width: $breakpoint-mobile-sm) {
  .layout {
    padding-left: 0;
  }

  .layout > * {
    max-width: none;
  }
}
