.button {
  display: block;
  background-image: linear-gradient(to right, #0ec261, #039f67);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  border: none;
  font-size: 18px;
  padding: 15px 24px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition:
    filter 0.2s ease,
    transform 0.2s ease;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  &--promo {
    width: 250px;
    margin-top: 60px;

    @media (max-width: 550px) {
      width: calc(100% + 32px);
      margin-top: auto;
      margin-left: -16px;
      margin-right: -16px;
      border-radius: 0;
      padding: 21px 24px;
    }
  }

  &--dark-green {
    background-image: linear-gradient(to right, #13493f, #0c7b1b);
  }

  &--cyan {
    background-image: linear-gradient(to right, #132949, #0c7b67);
  }

  &--dark-red {
    background-image: linear-gradient(to right, #493013, #7b0c3b);
  }

  &--purple {
    background-image: linear-gradient(to right, #281349, #720c7b);
  }

  &--slider {
    width: fit-content;
    min-width: 164px;
    margin-top: 32px;
    padding-inline: 34px;
    border-radius: 6px;
    font-size: 18px;
  }
}
