@use './fonts';
@use './variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  min-height: 100%;
}

html,
body {
  font-family: Roboto, sans-serif;
}

body {
  color: $text-primary-color;
  background: $white-color;
}

button,
a,
input,
textarea,
select {
  font: inherit;
}

