@use '@/shared/styles/variables' as *;

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.promoButtonContainer {
  padding: 0 64px;
  margin-top: 60px;

  @media (max-width: 650px) {
    padding: 0 32px;
  }


  @media (max-width: 550px) {
    margin-top: 32px;
    padding: 0;
    width: 100%;
  }
}

.bookLink {
  text-decoration: none;
}



.promoContainer {
  display: flex;
  flex-direction: column;
  margin-top: auto;


  @media (max-width: 550px) {
    margin-top: 10%;
  }
}

.promo {
  display: flex;
  flex-direction: column;
}

.title {
  color: $primary-color;
  font-size: clamp(32px, 6vw, 70px);
  font-weight: 700;
  line-height: 0.93;
}

.titleBlack {
  color: $primary-black-color;
}

.subtitle {
  margin-top: 34px;
  color: $dark-gray-color;
  font-size: clamp(18px, 3.5vw, 26px);
  font-weight: 300;
  line-height: 1;

  @media (max-width: 550px) {
    margin-top: 16px;
  }
}

.footer {
  margin-top: auto;

  @media (max-width: 550px) {
    background-color: $primary-black-color;
  }
}

.footerInner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;

  @media (max-width: 550px) {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}


.copyright {
  color: $dark-gray-color;
  font-size: 13px;

  @media (max-width: 550px) {
    color: $light-gray-color;
    text-align: right;
  }
}

.phone {
  color: $primary-black-color;
  font-size: 13px;
  text-decoration: none;
  transition: color 0.2s ease, filter 0.2s ease;

  @media (min-width: 551px) {
    &:hover {
      color: $primary-color;
    }
  }

  &:active {
    filter: brightness(0.8);
  }

  @media (max-width: 550px) {
    order: -1;
    color: $primary-color;
  }
}