@use '../../variables.scss' as *;

.language-button {
  cursor: pointer;
  border-color: transparent;
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);
  background: transparent;
  transition:
    border-color 0.2s ease,
    filter 0.2s ease;

  &:hover {
    border-color: white;
    filter: brightness(0.9);

    .language-button__text {
      color: white;
    }
  }

  &:active {
    border-color: white;
    filter: brightness(0.8);

    .language-button__text {
      color: $primary-color;
    }
  }

  &__text {
    color: $primary-color;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 13px;
  }

  &--menu {
    display: none;
    transform: none;
    margin-top: 0;
    width: 48px;
    height: 48px;
    border-color: transparent;
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
    justify-content: center;
    align-items: center;
    transform: translateX(-25%);

    .language-button__text {
      font-size: 16px;
      line-height: 1;
    }

    @media (max-width: 550px) {
      display: flex;
    }
  }
}
