@use '../../variables.scss' as *;

.waypoint {
  display: flex;
  gap: 2px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  &__icon {
    width: 18px;
    height: 20px;
  }

  &__text {
    color: $dark-gray-color;
  }

  &--header {
    @media (max-width: 550px) {
      width: 100%;
      justify-content: flex-end;
    }
  }
}
