@use '../../../shared/styles/variables' as *;

.textarea {
  width: 100%;
  border: 1px solid $icon-muted-color;
  border-radius: 4px;
  background: $white-color;
  color: $text-primary-color;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  letter-spacing: -0.18px;
  outline: none;
  padding: 8px 11px;
  box-sizing: border-box;
  resize: vertical;
}

.textarea:focus {
  border-color: $accent-blue-color;
}
