@use '../../variables.scss' as *;

.promo {
  display: flex;
  flex-direction: column;

  &__subtitle {
    font-weight: 200;
    font-family: Roboto, sans-serif;
    color: $dark-gray-color;
    font-size: clamp(18px, 3.5vw, 26px);
    line-height: 100%;
    margin-top: 30px;

    @media (max-width: 550px) {
      margin-top: 16px;
      margin-bottom: 32px;
    }
  }

  &--hero {
    @media (max-width: 550px) {
      margin-top: 10vh;
    }
  }
}
