@use '@/shared/styles/variables' as *;

.button {
  display: block;
  border: 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 24px;
  text-align: center;
  transition:
    filter 0.2s ease,
    transform 0.2s ease;
  width: 100%;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  &.disabled {
    cursor: default;
    background: $light-gray-color;
    color: white;
  }
}

.tonePrimary {
  background-image: linear-gradient(to right, #0ec261, #039f67);
}

.toneDarkGreen {
  background-image: linear-gradient(to right, #13493f, #0c7b1b);
}

.toneCyan {
  background-image: linear-gradient(to right, #132949, #0c7b67);
}

.toneDarkRed {
  background-image: linear-gradient(to right, #493013, #7b0c3b);
}

.tonePurple {
  background-image: linear-gradient(to right, #281349, #720c7b);
}

.sizeHero {
  width: 250px;
}

.sizeFull {
  width: 100%;
}

.sizeSlider {
  margin-top: 32px;
  min-width: 164px;
  width: fit-content;
  border-radius: 6px;
  font-size: 18px;
  padding-inline: 34px;
}

.fullWidthOnMobile {
  @media (max-width: $breakpoint-mobile-sm) {
    width: 100%;
    display: block;
  }
}

.squareOnMobile {
  border-radius: 0;
}

@media (min-width: $breakpoint-mobile-sm) {
  .squareOnMobile {
    border-radius: 10px;
  }
}
